{% extends "base.html" %}
{% load static %}
{% block content %}
    <main>
      <div>
        <div>
          <img src="{% static 'img/3.png'%}"/>
          <a href="#" class="aTitle">
            <div class="title">
              <div style="padding: 0 1rem 1rem 0;">
                <h1 style="font-size: 2.3rem;color: #fff;">מערכת אשפוז</h1>
              </div>
            </div>
            <div>
              <span style="font-size: 1.8rem;font-family: Cookie;">הגדול בישראל</span>
            </div>
          </a>
        </div>
      </div>
      <div class="mainContents">
        {{services.length}}
        {%if services and 'search' not in request.GET%}
        {{services.length}}
          {%for service in services%}
            {%if service.isActaive%}
              <div>
                <a href="{{service.name}}">
                  <img src="../../media/{{service.img}}" style="height: 150px;background-size: cover;">
                  <div>
                    <h2>{{service.name}}</h2>
                    <img src="{% static 'img/7.png'%}">
                  </div>
                  <a href="{{service.name}}">
                    <div class="content">
                      <p>
                        {{service.shortContent}}
                      </p>
                    </div>
                  </a>
                </a>
              </div>
            {%endif%}
          {%endfor%}
          {%else%}
            {%if 'search' not in request.GET%}
              <h1 style="font-size: 2.5rem;">עדיין לא נוספו שירותים</h1>
            {%endif%}
        {%endif%}
        {%if results and 'search' in request.GET%}
          {%for result in results%}
            {%if result.isActaive%}
              <div id="{{result.name}}">
                <a href="{{result.name}}">
                  <img src="../../media/{{result.img}}" style="height: 150px;background-size: cover;">
                  <div>
                    <h2>{{result.name}}</h2>
                    <img src="{% static 'img/7.png'%}">
                  </div>
                  <a href="{{result.name}}">
                    <div class="content">
                      <p>
                        {{result.shortContent}}
                      </p>
                    </div>
                  </a>
                </a>
              </div>
            {%endif%}
          {%endfor%}
          {%else%}
            {%if 'search' in request.GET%}
              <h1 style="font-size: 2.5rem;">אין תוצאות חיפוש</h1>
            {%endif%}
        {%endif%}
      </div>
    </main>
    {% endblock content %}