{% load static %}

<footer>
    <div style="display: flex;align-items: center;justify-content: space-between;">
      <div class="footerContents">
        <div>
          <a href="#">
            <img src="{% static 'img/logo-english-2.png'%}">
          </a>
        </div>
        <div>
          <span style="font-size: 1.8rem;">Contact Us</span>
          <a href="#" style="color: #60bb46;font-size: 1.8rem;">*2590</a>
        </div>
        <div>
          <img src="{% static 'img/iso-image.png'%}" style="margin: 0 .3rem .5rem 0;">
          <a href="#">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="#">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="#">
            <i class="fab fa-youtube"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fab fa-whatsapp"></i>
          </a>
        </div>
        <img src="{% static 'img/butterfly-logo-200.png'%}" width="40">
      </div>
      <div>
        <ul class="footerMenu">
          <li>
            <a href="#">Homepage</a>
          </li>
          <li>
            <a href="#">About us</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="contactInfo">
      <div style="width: 60%;">
        <strong>Contact Information:</strong>
        <a href="#"><i class="fa fa-phone"></i> 072-2508878</a>
        <a href="#"><i class="fas fa-envelope"></i> office@sabarhealth.co.il</a>
        <span><i class="fa fa-fax"></i> Fax - 072-2508879</span>
      </div>
      <div style="width: 32%;">
        <a href="#" style="color: #7ad0e2;"><u>Site Map</u></a>
        <span style="color: #7ad0e2;">© All rights reserved - 2024</span>
        <a href="#" style="color: #7ad0e2;"><u>Site's Policy</u></a>
      </div>
    </div>
  </footer>